{
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }]
  ],
  "presets": ["env"],
}
