{
  "extends": ["airbnb-base", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["import"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "object-curly-newline": ["error", { "consistent": true }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "only-multiline"
    }],
    "max-len": ["error", 150],
    "prefer-arrow-callback": "off",
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["that"] }]
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
